body{
      
        background-color: #acacc9;
        background-image: url(../img/3.jpg);
        background-repeat:no-repeat;
background-attachment: fixed;
background-position: center;


}


.menu {

    color: hsl(0, 88%, 16%);
}
.menu:hover {
    color: rgb(165, 27, 108);
}




h1{
    color: rgb(121, 7, 7);font-size: 20px; 
}

/* cometarios   w3school*/

h1, p{

    border: 2px solid rgb(5, 5, 5);
    background-color: #acacc9;
    margin: 50px;
}

#fondo {background-color: brown;}

#fondo1 {background-color: brown;}


ul{

list-style:square ;

}

#prueba {background-color: blue;}

iframe {
width: 620px;
height: 315px;
margin: auto;
display: block;
float: left;




}
video {

width: 620px;
height: 315px;
margin: auto;
display: block;
}

table {

    width: 50%;
    margin: auto;
background-color: lawngreen;
text-align: center;
font-size: x-large;



}

table, td, th
{

    border: 1px solid black;
    border-collapse: collapse;
    


}

input {

width: 30px;
margin: 5px;

}

label {

color: rgb(19, 5, 97);
margin: 5px;

}

#lar {width: 300px; }



